<div class="car-block">
    <div class="car-block__title">@@title</div>
    <div class="car-block__wrapper">
        <div class="car-block__img-wrapper">
            <div style="background-image: url('/images/car-@@car-img.png');" class="car-block__img"></div>
        </div>
        <div class="car-block__info-wrapper">
            <div class="car-block__info-item">
                <div class="car-block__info-title">Легковой автомобиль</div>
                <div class="car-block__info-value">@@info-1</div>
            </div>
            <div class="car-block__info-item">
                <div class="car-block__info-title">Мотоцикл (крадроцикл и т.д.)</div>
                <div class="car-block__info-value">@@info-2</div>
            </div>
            <div class="car-block__info-item">
                <div class="car-block__info-title">Внедорожник</div>
                <div class="car-block__info-value">@@info-3</div>
            </div>
            <div class="car-block__info-item">
                <div class="car-block__info-title">Микроавтобус</div>
                <div class="car-block__info-value">@@info-4</div>
            </div>
            <div class="car-block__info-item">
                <div class="car-block__info-title">Загородный тариф</div>
                <div class="car-block__info-value">@@info-5</div>
            </div>
        </div>
        <div class="car-block__contact-wrapper">
            <div class="car-block__contact-btn-wrapper">
                <button class="car-block__contact-btn car-block__contact-btn-tel btn-primary"><span>+7 999 99 99</span></button>
                <button class="car-block__contact-btn car-block__contact-btn-phone btn-primary"><span>+7 999 99 99</span></button>
            </div>
            <div class="car-block__contact-parking-wrapper">
                <div class="car-block__contact-parking-title">Место стоянки</div>
                <div class="car-block__contact-parking-value">Москва, ул Пушкина</div>
            </div>
            <div data-ad="@@data-ad" class="car-block__contact-ad btn-secondary"><span>Заказать рекламу</span></div>
        </div>
    </div>
    <div class="car-block__extratext">@@extratext</div>
</div>