<div class="pagination">
    <div class="pagination__wrapper">
        <div style="display: none;" class="pagination__item pagination__nav pagination__nav-prev"></div>
        <div class="pagination__count-wrapper">
            <div class="pagination__item pagination__item_active pagination__count">1</div>
            <div class="pagination__item pagination__count">2</div>
            <div class="pagination__item pagination__count">3</div>
            <div class="pagination__item pagination__count">4</div>
        </div>
        <div class="pagination__item pagination__nav pagination__nav-next"></div>
    </div>
</div>